{% extends "encyclopedia/layout.html" %}

{% block title %}
    New entry
{% endblock %}

{% block body %}
    <h1>New entry</h1>
    <form action="{% url 'new' %}" method="POST">
        {% csrf_token %}
        <label for="title">Title</label>
        <br>
        <input type="text" name="title">
        <br>
        <label for="content">Entry</label>
        <br>
        <textarea name="content" id="content" ></textarea>
        <br>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
{% endblock %}